@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <p><a href="https://localhost:44354/Students/Index" class="btn btn-primary btn-lg">Students &raquo;</a></p>
    <p><a href="https://localhost:44354/Courses/Index" class="btn btn-primary btn-lg">Courses &raquo;</a></p>
</div>

