@model MVCproject.Models.Student
<div class="form-group">
    @Html.LabelFor(model => model.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor((model => model.CourseId),
        new SelectList(ViewBag.Courses, "CourseId","CourseName"),
        new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CourseId)
    </div>
</div>