@model MVCproject.Models.Student

<div class="form-group">
    @Html.LabelFor(model => model.CourseStatus, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor((model => model.CourseStatus),
        new SelectList(ViewBag.CourseStatues, "Value", "Text"),
        new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CourseStatus)
    </div>
</div>
